/*版心的公共类*/
.container {
    margin: 0 auto;
    width: 1240px;
}

/*快捷菜单模块*/
.xtx-shortcut {
    height: 52px;
    background-color: #333333;
}
.xtx-shortcut .container {
    height: 52px;
    /*background-color: skyblue;*/
}

.xtx-shortcut nav li {
    float: left;
    line-height: 52px;
    color: #666666;
}

.xtx-shortcut nav a {
    margin: 0 16px;
    font-size: 14px;
    color: #dcdcdc;
}
.xtx-shortcut li:last-child a {
    margin-right: 0;
}
.xtx-shortcut li:last-child a::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 16px;
    /*background-color: red;*/
    margin-right: 8px;
    vertical-align: middle;
    margin-top: -3px;
    background: url("../images/sprites.png") no-repeat -160px -70px;
}


/*主导航模块*/
.xtx-main-nav {
    height: 130px;
    /*background-color: pink;*/
    padding-top: 30px;
    box-sizing: border-box;
}

.xtx-main-nav .logo {
    width: 207px;
    height: 70px;
    /*background-color: skyblue;*/
    margin-left: 25px;
}
.xtx-main-nav .logo a {
    display: block;
    width: 207px;
    height: 70px;
    background: url("../images/logo.png");
    background-size: 100% 100%;
    font-size: 0;
}

/*导航*/
.xtx-main-nav nav li {
    float: left;
    height: 70px;
    line-height: 70px;
    margin-right: 48px;
}

.xtx-main-nav nav {
    margin-left: 40px;
}
.xtx-main-nav nav a:hover {
    color: #27ba9b;
    border-bottom: 1px solid #27ba9b;
    padding-bottom: 7px;
}

/*搜索*/
.xtx-main-nav .search {
    width: 172px;
    height: 30px;
    background-color: skyblue;
    margin-top: 24px;
    margin-left: 34px;
    position: relative;
}

.xtx-main-nav .search::before{
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    /*background-color: red;*/
    margin-left: 2px;
    background: url("../images/sprites.png") -80px -70px;
}
.xtx-main-nav .search input {
    height: 30px;
    width: 172px;
    border-bottom: 2px solid #e7e7e7;
    padding-left: 31px;
}

/*购物车*/
.xtx-main-nav .cart {
    width: 23px;
    height: 23px;
    position: relative;
    margin-left: 15px;
    /*background-color: red;*/
    margin-top: 28px;
    background: url("../images/sprites.png")-120px -70px;
}
.xtx-main-nav .cart span {
    width: 20px;
    height: 15px;
    background-color: #e26237;
    position: absolute;
    top: -5px;
    right: -12px;
    border-radius: 8px;
    text-align: center;
    line-height: 15px;
}


/*--------------底部模块*/
/*宣传服务*/
.xtx-service {
    height: 174px;
    background-color: #333333;
}
.xtx-service .container {
    /*background-color: pink;*/
    height: 174px;
    width: 1393px;
    border-bottom: 1px solid #434343;
    box-sizing: border-box;
}
.xtx-service .container a{
    width: 33.33%;
    height: 173px;
    /*ps*/
    /*background-color: skyblue;*/
    float: left;
    text-align: center;
    line-height: 173px;
    font-size: 28px;
    color: #fff;
}
.xtx-service .container a::before {
    content: '';
    width: 58px;
    height: 58px;
    /*ps*/
    /*background-color: red;*/
    display: inline-block;
    vertical-align: middle;
    margin-right: 19px;
    background: url("../images/sprites.png") 0 0;
}
.xtx-service a:nth-child(2)::before {
    background-position: -130px 0;
}
.xtx-service a:nth-child(3)::before {
    background-position: -65px 0;
}
/*版权信息*/
.xtx-copyright {
    height: 168px;
    background-color: #333333;
}
.xtx-copyright .container {
    /*ps*/
    /*background-color: pink;*/
    height: 168px;
    text-align: center;
    font-size: 14px;
    padding-top: 41px;
}
.xtx-copyright .container a {
    color: #999;
}
.xtx-copyright .container p:nth-child(2) {
    margin-top: 19px;
}